%table.table.table-hover#sortable
  %thead
    %tr
      %th #
      %th Subject
      %th Date
      %th Duration
      %th Venue
      %th Chapters
      %th Showcase on Website
      - if can? :manage, Training
        %th Action
  %tbody
    - @trainings.each_with_index do |training, i|
      %tr.item{"data-item-id" => training.id}
        %td= i+1
        %td= link_to training.subject, training_path(training)
        %td= training.date
        %td= training.duration
        %td= training.venue
        %td= training.chapters.count
        %td= training.showcase_on_website
        - if can? :manage, Training
          %td
            =link_to '', edit_training_path(training), class: "icon-edit", data: {'no-turbolink' =>  true}
            |
            =link_to '', training_path(training), method: :delete, "data-confirm" => "Are you sure?", class: "icon-trash"

:javascript
  $('#sortable').dataTable({ "aaSorting": [] });
