Hi,

Here are details of person who commented
%br
= "Name: #{@clipp_contact['name']}"
%br
= "Email: #{@clipp_contact['email']}"
%br
= "Website: #{@clipp_contact['website']}"
%br
= "Phone: #{@clipp_contact['phone']}"
%br
= "Message: #{@clipp_contact['comment']}"
