.row
  %h4.left
    = link_to 'Repositories', overview_index_repositories_path
    &nbsp; > &nbsp; #{@repo_name ? @repo_name.upcase : 'Unknown Repository'} &nbsp; Issues :
  - if @response_body && @response_body['meta']
    %h4.right Total Issues : #{@response_body['meta']['total_count']}

%div{class:"form-horizontal"}
  %nav.navbar.navbar-inverse
    .container-fluid
      %ul.nav.navbar-nav
        %li.nav-item
          %span#issues_per_page.content
        %li.nav-item
          %input#searchbox.form-control{:autocomplete => 'off', :placeholder => 'Search', :type => 'text'}/
          %span.glyphicon.glyphicon-search.search-icon

  %table.table.table-hover{ id: "#{@repo_name}_issues_table"}
    %thead
      %tr
        %th #
        %th Description
        %th Severity
        %th Category
        %th File
        %th Line Number
    %tbody
      - if @response_body["data"].present?
        %script{type: 'text/html', id: "#{@repo_name}_issues_template"}
          %tr
            {{#record}}
            %td
              {{index}}
            %td
              {{attributes.description}}
            %td.severity{style:"color:{{color}}"}
              {{attributes.severity}}
            %td
              {{attributes.categories}}
            %td
              {{attributes.constant_name}}
            %td
              {{attributes.location.start_line}}
            {{/record}}

      - else
        %tr
          %td{ colspan: 6}
            %center
              NO Rows Found

.col-lg-12.padding_none.pull-right
  #repo_issues_pagination.col-lg-12
  .col-lg-6.content

:coffeescript
  $('.per-page').css 'height', 30
  @data = #{@response_body["data"].to_json}
  @repo_name = "#{@repo_name}"
  FilterJSInitialize();

  $(document).on 'page:before-change', ->
    if typeof fjs isnt 'undefined'
      fjs.stopStreaming()

