.row
  %h4{style:"float:left;"} #{@repo_name.upcase} &nbsp; > &nbsp; ISSUES :
  - if @response_body && @response_body['meta']
    %h4{style:"float:right;"} Total Issues : #{@response_body['meta']['total_count']}

%div{class:"form-horizontal"}
  %table.table.table-hover#sortable
    %thead
      %tr
        %th #
        %th Description
        %th Severity
        %th Category
        %th File
        %th Line Number
    %tbody
      - if @response_body && @response_body['data']
        - @response_body['data'].each_with_index do |issue, index|
          %tr
            %td= index+1
            %td= issue['attributes']['description']
            - severity = {'critical': 'red', 'major': 'orange', 'minor': 'gold'}
            - color = severity[issue['attributes']['severity'].to_sym]
            %td{style:"color:#{color}; font-weight:bold"}
              = issue['attributes']['severity'].titleize
            %td{style:"font-weight:bold"}= issue['attributes']['categories'].join(', ')
            %td= issue['attributes']['constant_name']
            %td
              - if issue['attributes']['location'] && issue['attributes']['location']['start_line']
                = issue['attributes']['location']['start_line']

:javascript
  $('#sortable').dataTable({ "aaSorting": [] });