= link_to "", attachments_path, class: "icon-arrow-left", title: "Back"
- if can? :edit, HolidayList
  .pull-right
    = link_to "", new_holiday_list_path, class: "icon-plus add-timesheet-icon", title: 'Add Holiday'
- unless @holiday.empty?
  %center
    %h3 Holiday List- #{Date.today.year}
    %table.table.table-bordered.table-width
      %thead
        %tr
          %th Date
          %th Day
          %th Reason
          - if can? :edit, HolidayList
            %th Actions

      %tbody
      - @holiday.each do |holiday|
        %tr
          %td= holiday.holiday_date.strftime("%d-%b-%Y")
          %td= holiday.holiday_date.strftime("%A")
          %td= holiday.reason
          - if can? :edit, HolidayList
            %td
              = link_to "", edit_holiday_list_path(holiday.id), class: "icon-edit", data: {"no-turbolink" => true}
              = link_to "", holiday_list_path(holiday.id), data: {method: 'delete', confirm: "Are you sure?"}, class: "icon-trash"
- else
  %h4 No record found. Please contact system administer
  
