= simple_form_for(@user,:url => user_path(@user), :html => { method: :put, class: "form-horizontal", multipart: true}) do |f|
  = f.simple_fields_for :employee_detail do |e|
    = e.input :employee_id, label: "Employee Id", disabled: true
    = e.input :designation, as: :select, collection: Designation.all, prompt: 'Select Designation', selected: e.object.try(:designation_id)
    = e.input :designation_track, as: :select, collection: EmployeeDetail::DESIGNATION_TRACKS, prompt: 'Select Designation Track', selected: e.object.try(:designation_track), hint: 'This track will be used to show designation hierarchy under assessments.'
    = e.input :description, as: :text, input_html: {class: 'text-description'}
    = e.input :date_of_relieving, input_html: {class: 'datepicker', 'data-behaviour' => 'datepicker', value: @user.employee_detail.date_of_relieving.try(:strftime, '%d-%m-%Y')}
    = e.input :notification_emails, collection: @emails, input_html: {class: 'notification_emails', multiple: true, style: "width:240px;", "data-placeholder" => "You can add multiple emails"}
    = e.label "Is Billable"
    .make-switch{"data-on" => "success", "data-off" => "warning", "data-on-label" => "Yes", "data-off-label" => "No"}
      = e.check_box :is_billable, {}, 'Yes', 'No'
  = f.input :project_ids, collection: @projects, input_html: {class: 'notification_emails', multiple: true, style: "width:240px;", "data-placeholder" => "Add projects"}, label: "Projects"
  = f.submit :save, class: "btn controls"
- if @notify_users
  %h4 Current Notification to
  %table.table.table-hover
    %tr
      %th Name
      %th Email
    - @notify_users.each do |n|
      %tr
        %td= n.public_profile.name if n.public_profile
        %td= n.email
:javascript
  $(".notification_emails").select2();
