= simple_form_for(@user, :url => user_path(@user), :html => { method: :put, class: "form-horizontal", multipart: true}) do |f|
  = f.input :status, as: :select, collection: STATUS.collect {|option| [option.titleize, option]}, selected: f.object.try(:status), label: "Status"
  = f.input :role, collection: User::ROLES, prompt: 'Select Role', required: false, label: "Change Role"
  = f.input :website_sequence_number
  = f.label 'Visible On Website'
  .make-switch{"data-on" => "success", "data-off" => "warning", "data-on-label"=>"Yes", "data-off-label"=> "NO"}
    = f.check_box :visible_on_website, {}, 'true', 'false'
  %br
  %br
  = f.submit 'Update', class: 'btn controls'

%span{ id: 'activeProjectDetails', data: { value: project_info }, visibility: 'hidden'}

:css
  .make-switch{ height: 29px; margin-left: 18px;}
