
%h2
  Policies
- if can? :manage, Policy
  .btn_position
    = link_to "Add Policy", new_policy_path
  .btn_margin
    = link_to " Add Holiday", new_holiday_list_path

.form-horizontal
  - unless @policies.empty?
    %table.table.table-hover
      %thead
        %th Policy Title
        %th.pull-right Manage
      %tbody
        - @policies.each do |policy|
          %tr
            - if policy.is_published or (can? :manage, Policy) 
              = render partial: 'policy_row', locals: {policy: policy}
  - else
    %h4
      = "No policies found"
  .holiday_list
    = link_to "Holiday List", holiday_lists_path
:css 
  .table td{ border-top: 1px solid white; padding: 0px;}
