= simple_nested_form_for @project, :html => {class: "form-horizontal"} do |f|
  = hidden_field_tag :tech_details, true
  = hidden_field_tag :team_details, true
  .row.nested-fields
    #repository_fields
      = f.fields_for :repositories do|t|
        .row
          .span4
            = t.input :name, placeholder: "Repo Name", required: true
          .span4
            = t.input :host, collection: Repository::HOSTS, include_blank: false
        .row
          .span4
            = t.input :url, placeholder: "Repository URL", required: true, label: "Repository URL"
          .span4
            = t.input :code_climate_id, placeholder: "Code Climate Repo ID"
        .row
          .span4
            = t.input :maintainability_badge, placeholder: "Code Climate -> Repo Settings"
          .span4
            = t.input :test_coverage_badge, placeholder: "Code Climate -> Repo Settings"
          .span2{style: "float: right;"}
            = t.link_to_remove 'Remove', class: 'btn btn-danger'
        %hr
    .offset4
      = f.link_to_add 'Add Record', :repositories, data: {target: "#repository_fields"}, class: 'btn btn-success'
      = f.submit :Save, class: 'btn controls btn-info saveBtn'
