.form-horizontal.row
  %h3
    = "#{@project.name} Team Members"
  %table.table.table-hover
    %thead
      %tr
        %th Profile Image
        %th Name
        %th Email
        %th Role
        %th Info
    %tbody
      - if @managers.present?
        - @managers.each do |manager|
          %tr
            - if manager.public_profile.present? && Rails.env.production?
              %td= image_tag(manager.public_profile.image.thumb.url, class: 'img-polaroid')
            - else
              %td= image_tag('dummy_image.png', class: 'img-polaroid')
            %td= link_to manager.public_profile.name, user_path(manager)
            %td= manager.email
            %td
              .project-role manager
            %td
              %button{class: 'btn btn-circle icon-info', 'data-html': 'true', 'data-placement': 'left', 'data-toggle': 'popover', 'data-trigger': 'hover',
              'data-title': "#{manager.name}'s Details", 'data-content': "#{render 'user_details', user: manager}", type: :button}
      - if @team_members.present?
        - @team_members.each do |user|
          %tr
            - if user.public_profile.present? && Rails.env.production?
              %td= image_tag(user.public_profile.image.thumb.url, class: 'img-polaroid')
            - else
              %td= image_tag('dummy_image.png', class: 'img-polaroid')
            %td= link_to user.public_profile.name, user_path(user)
            %td= user.email
            %td
            %td
              %button{class: 'btn btn-circle icon-info', 'data-html': 'true', 'data-placement': 'left', 'data-toggle': 'popover', 'data-trigger': 'hover',
              'data-title': "#{user.name}'s Details", 'data-content': "#{render 'user_details', user: user}", type: :button}

:css
  .popover {max-width: 600px;}
  .btn-circle {border-radius: 50%;}

:javascript
  $(function () {
    $('[data-toggle="popover"]').popover();
    $('[data-toggle="tooltip"]').tooltip();
  });
