.form-horizontal.row
  %h3
    = "#{@project.name} Team Members"
  %table.table.table-hover
    %thead
      %tr
        %th Profile Image
        %th Name
        %th Email
        %th Role
    %tbody
      - if @managers.present?
        - @managers.each do |manager|
          %tr
            %td= image_tag(manager.public_profile.image.thumb.url, class: 'img-polaroid') if manager.public_profile
            %td= link_to manager.public_profile.name, user_path(manager)
            %td= manager.email
            %td
              .project-role manager
      - if @team_members.present?
        - @team_members.each do |user|
          %tr
            %td= image_tag(user.public_profile.image.thumb.url, class: 'img-polaroid') if user.public_profile
            %td= link_to user.public_profile.name, user_path(user)
            %td= user.email
            %td
              
