= form_tag export_project_report_time_sheets_path, method: 'GET', class: 'form form-inline' do
  .form-horizontal
    .div.form-position
      .row.row-padding
        %label.col-md-3 From Date:
        = text_field_tag :from_date, params[:from_date],
          class: "col-md-3 export-report-text-from-date form-control datepicker",
          placeholder: "From Date", value: @from_date, style: "height: 2em;", readonly: true
      .row.row-padding
        %label To Date:
        = text_field_tag :to_date, params[:to_date],
          class: "form-control export-report-text-to-date datepicker",
          placeholder: "To Date", value: @to_date, style: "height: 2em;", readonly: true
      .row.row-padding
        = check_box_tag(:summary)
        = label_tag :summary, "Get summary report of all projects"
      .row.row-padding.projects_dropdown
        = "------------------------------  OR  --------------------------------"
        %br
        %br
        %label Project
        = select_tag :project_id, options_for_select(Project.get_approved_project_between_range(@from_date, @to_date)), class: 'export-report-text-to-select'

      = submit_tag "Download Report", class: "btn btn-primary btn-padding"
