= render 'upload_modal'

.timesheet_report_form
  = form_tag time_sheets_path, method: 'GET', class: 'form form-inline' do
    %label From Date:
    %input{ name: 'from_date', 'aria-label': 'From Date', class: 'form-control date-picker', type: 'date', placeholder: 'From Date', value: @from_date }
    %label To Date:
    %input{ name: 'to_date', 'aria-label': 'To Date', class: 'form-control date-picker', type: 'date', placeholder: 'To Date', value: @to_date }
    = submit_tag "Search", class: "btn btn-primary"
    .pull-right.remove_underline
      = link_to '', new_time_sheet_path(user_id: current_user.id, from_date: @from_date, to_date: @to_date), 'data-toggle': 'tooltip', title: 'Add Timesheet', class: 'icon-plus add-timesheet-icon'
      - if current_user.role == 'HR'
        = content_tag :a, '', href: '#upload_timesheets_modal', data: { toggle: 'modal'}, 'data-toggle': 'tooltip', title: 'Click to upload timesheet csv file', class: 'icon-upload-alt upload-timesheet-icon verticle-line'

%span{ id: 'activeProjectList', data: { value: project_names }, visibility: 'hidden'}
%span{ id: 'activeProjectData', data: { value: project_data }, visibility: 'hidden'}

.timesheet_report
  = render 'time_sheets/timesheet_report_view', timesheet_reports: @timesheet_report
