%li
  .search-form
    = form_tag view_leaves_path, method: 'GET', class: "form form-inline" do
      - if ["Admin", "HR", "Manager"].include? current_user.role
        = select_tag 'project_id', options_for_select(Project.all_active.collect{ |p| [p.name, p.id]}, params[:project_id]), prompt: 'Select Project'
        = select_tag "user_id", options_for_select(User.approved.employees.collect{ |u| [u.name, u.id]}, params[:user_id]), prompt: 'Select User'
      = text_field_tag :from, params[:from], class: "form-control datepicker", placeholder: "From Date" 
      = text_field_tag :to, params[:to], class: "form-control datepicker", placeholder: "To date"
      = submit_tag "Search", class: "btn btn-success"
      = button_tag  'Reset', type: 'reset', class: 'btn btn-info', id: "reset_filter"
