= simple_nested_form_for @showcase_event, :html => {class: "form-horizontal"} do |f|
  %h3 Topics in #{@showcase_event.name}
  #event_applications
    = f.fields_for :showcase_event_applications do |event_application|
      %hr
      %h4 Topic Details
      .topics
        .remove{style: 'float: right'}
          = event_application.link_to_remove "Remove Topic #{event_application.object.name}", class: 'btn btn-danger'
        = event_application.input :name
        = event_application.input :description, as: :text, input_html: {class: "text-description"}
        = event_application.input :domain
      %br
    = f.link_to_add "Add More Topics", :showcase_event_applications, class: "btn btn-info offset1", id: "add-event-applications-button"
    = f.submit "Save Topics", class: 'btn controls btn-success'

:css
  .topics{border-style: ridge; border-width: thin}
