- if can? :manage, Project
  .remove_underline
    - if params[:action] == 'index'
      = link_to 'All Projects', projects_path(all: true), class: 'btn btn-primary mb-5', id: 'toggle-projects-btn', remote: true
    = link_to '', new_project_path, data: {'no-turbolink' =>  true}, "data-toggle" => "tooltip", title: "Add Project",
                 class: "icon-plus" unless (params[:action] == "new" || params[:action] == "show")
    = link_to '', edit_project_path, data: {'no-turbolink' =>  true}, "data-toggle" => "tooltip", title: "Edit Project",
                 class: "icon-edit" if params[:action] == "show"
    = ["show", "edit", 'index'].include?(params[:action]) ? "|" : ''
    = link_to '', projects_path, "data-toggle" => "tooltip", title: "All Projects",
                 class: " icon-th-list" unless params[:action] == "index"
    = link_to "", "", 'data-toggle' => "dropdown", class: 'dropdown-toggle icon-download-alt' if params[:action] == 'index'
    %ul.dropdown-menu.drop
      %li
        = link_to "Projects Report", projects_path(format: 'csv'), class: 'menu-font'
      %li
        = link_to "Project Teams Report", projects_path(team_reports: true ,format: 'csv'), class: 'menu-font'
