-#= image_tag current_user.public_profile.image.thumb.url, class: 'img-rounded'
= link_to current_user.public_profile.try(:name), '#', 'data-toggle' => 'dropdown', class: 'dropdown-toggle user-name', role: 'menuitem', 'aria-haspopup': true
%ul.dropdown-menu.drop

  - if can? :manage, Schedule
    /
      %li
        = link_to "Schedules", main_app.schedules_path, role: 'menuitem'
  - if can? :resource_list, User
    %li
      = link_to 'Resource List', main_app.resource_list_path, role: 'menuitem'

  - if can? :manage, Project
    %li
      = link_to "Projects", main_app.projects_path, role: 'menuitem'

  - if can? :invite_user, User
    %li
      = link_to "Company", main_app.companies_path, role: 'menuitem'
    %li
      = link_to "Invite Employee", main_app.invite_user_path, role: 'menuitem'
  %li
    = link_to "Profile", main_app.public_profile_user_path(current_user), data: {'no-turbolink' =>  true}
  
  - if can? :manage, Attachment
    %li
      = link_to "Documents", main_app.attachments_path, data: {'no-turbolink' =>  true}
  
  - unless can_access?('Events')
    %li
      = link_to "Events", "https://intranet.joshsoftware.com/functions", 'target' => '_blank'
  - if can_access?('Newsletter')
    %li
      = link_to "Newsletter", main_app.light_path, role: 'menuitem'
  - if can? :manage, Designation
    %li= link_to 'Manage Designations', main_app.designations_path, role: 'menuitem'
  %li
    = link_to "Leave Applications", main_app.view_leaves_path
  - if can_access?('Contacts')
    %li
      = link_to "Contacts", main_app.site_contacts_path, data: { 'no-turbolink' => true }, role: 'menuitem'
  - if can_access?('Manage Leave')
    %li
      = link_to "Manage Leave", main_app.leave_applications_path, role: 'menuitem'
  %li.hide
    = link_to "Calendar", main_app.calendar_path, role: 'menuitem'
  %li.dropdown-submenu.pull-left
    %a.test{:href => '#', role: 'menuitem', 'aria-haspopup': true }
      Timesheets
    %ul.dropdown-menu{class: "timesheet-menu"}
      %li
        = link_to "Employees", main_app.time_sheets_path, class: 'menu-font', role: 'menuitem'
        - if can? :manage, TimeSheet
          %li
            = link_to "Projects", main_app.projects_report_time_sheets_path, class: 'menu-font', role: 'menuitem'
          %li
            = link_to "Export Reports", main_app.export_project_report_time_sheets_path, class: 'menu-font'
  - if can? :manage, OpenSourceProject
    %li.dropdown-submenu.pull-left
      %a.test{:href => "#", :tabindex => "-1"}
        Manage Website Data
      %ul.dropdown-menu{class: "timesheet-menu"}
        %li
          = link_to "Open Source Projects", main_app.open_source_projects_path, class: 'menu-font'
        %li
          = link_to "Showcase Event", main_app.showcase_events_path, class: 'menu-font'
        %li
          = link_to "Trainings", main_app.trainings_path, class: 'menu-font'

  - unless can_access?('Assessments')
    %li
      = link_to "Assessments", ENV['snowflake_url']
  
  - if can? :manage, EntryPass
    %li
      = link_to "Office Entry Pass", '/entry_passes'

  - if can_access?('Repositories') 
    %li
      = link_to 'Repositories', main_app.overview_index_repositories_path, data: {'no-turbolink' =>  true}
  
  %li.divider

  %li
    = link_to 'Sign out', main_app.destroy_user_session_path, method: :delete, role: 'menuitem'
:css
  .img-rounded{width: 4%; position: absolute; top: 26px; z-index: 1; margin-left: 10px;height: 36px;}
  .user-name{position: relative; left: 15px;}
